@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Mogra');
$main-font-family: 'Gloria Hallelujah', cursive;

.title {
  font-weight: bold;
  text-align: center;
  font-family: 'Mogra', cursive;
  color: black;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 50px;
}
.quote-container {
  margin: 25px auto;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  font-family: $main-font-family;
  width: 50%;
  height: auto;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 25px;
  color: black;
  @media (max-width: 768px) {
    width: 95%;
  }
  #text {
    color: white;
  }
  .quote-author {
    color: white;
  }
  .button-container {
    display: inline-block;
    margin-top: 30px;
    button {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      outline: none;
      font-size: 25px;
      background: white;
    }
  }



}
